.about {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 1.375rem 2rem 2.375rem 2rem;
    min-height: 62vh;

    .banner-image {
        width: 100%;
        height: 223px;
        object-fit: cover;
        filter: brightness(50%); /* Assombrir l'image */
        border-radius: 1.5rem;
    }
    .faq {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 7.5rem;
    }
    @media (max-width: 768px) {
        width: 335px;
        margin: 0 1rem;
        gap: 1.25rem;
        .banner-image {
            height: 111px;
            border-radius: 0.625rem;
        }
        
        .faq {
            padding: 0;
            gap: 1.25rem;
        }
    }
}
