.logement-details {
    max-width: 1240px;
    margin: 2.375rem 2rem 3.25rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    min-height: 62vh;

    .details {
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .more-details {
        display: flex;
        gap: 4.75rem;
    }
    @media (max-width: 768px) {
        max-width: 335px;
        .details {
            flex-direction: column;
            gap: 1.25rem;
            .right {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
            }
        }
        .more-details {
            flex-direction: column;
            gap: 1.25rem;
        }
        
    }
}