.collapse {
    width: 100%;

    .collapse-header {
        cursor: pointer;
        background-color: #FF6060;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        border-radius: 0.25rem;
        -webkit-tap-highlight-color: transparent;

        h2 {
            margin: 0;
            font-size: 1rem;
            font-family: Montserrat;
        }

        .chevron {
            transition: transform 0.3s ease;
            transform: rotate(-90deg);
            font-size: 1.5rem;
            user-select: none;
            margin-right: 1rem;
        }

        /* Chevron orienté vers le haut lorsque la section est ouverte */
        .chevron.open {
            transform: rotate(90deg);
        }
    }

    .collapse-content {
        overflow: hidden;
        background-color: rgba(246, 246, 246, 0.45);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        height: 0;
        padding: 0;
        font-size: 1.125rem;
        font-family: Montserrat;

        &.open {
            transform: scaleY(1);
            opacity: 1;
            padding: 1rem;
            height: auto;
        }

        /* Si le contenu est une liste */
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1.125rem;
            }
        }

        /* Si le contenu est un paragraphe */
        p {
            padding: 0;
            margin: 0;
            font-size: 1.125rem;
        }
    }

    /* Media queries pour tablette */
    @media (min-width: 768px) and (max-width: 1024px) {
        .collapse-header {
            h2 {
                font-size: 1.125rem;
            }
        }
    }

    /* Media queries pour mobile */
    @media (max-width: 767px) {
        .collapse-header {
            h2 {
                font-size: 0.8125rem;
            }

            .chevron {
                font-size: 1rem;
                margin-right: 0.25rem;
            }
        }

        .collapse-content {
            ul,
            p {
                font-size: 0.75rem;
            }
        }
    }
}
