.logement-equipments {
    width: 100%;

    .equipments-header {
        cursor: pointer;
        background-color: #FF6060;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        border-radius: 0.25rem;
        -webkit-tap-highlight-color: transparent;

        h2 {
            margin: 0;
            font-size: 1rem;
            font-family: Montserrat;
        }

        .chevron {
            transition: transform 0.3s ease;
            transform: rotate(-90deg);
            font-size: 1.5rem;
            user-select: none;
            margin-right: 1rem;
        }

        /* Chevron orienté vers le haut lorsque la equipments est ouverte */
        .chevron.open {
            transform: rotate(90deg);
        }
    }

    .equipments-content {
        overflow: hidden;
        background-color: rgba(246, 246, 246, 0.45);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        height: 0;
        padding: 0;
        font-size: 1.125rem;
        font-family: Montserrat;

        &.open {
            transform: scaleY(1);
            opacity: 1;
            padding: 1rem;
            height: auto;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.125rem;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
            .equipments-header{
                h2 {
                    font-size: 1.125rem;
                }
            }
        }

    @media (max-width: 767px) {
            .equipments-header{
                h2 {
                    font-size: 0.8125rem;
                }

                .chevron {
                    font-size: 1rem;
                    margin-right: 0.25rem;
                }
            }
            
            .equipments-content {
                ul {
                    li {
                        font-size: 0.75rem;
                    }
                }
            }
            
    }
}
