.logement-list {
    padding: 2rem;
    background: #F6F6F6;
    border-radius: 1.5rem;
    margin-bottom: 3rem;

    .logement-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }

    .logement-card {
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        .logement-image-wrapper {
            position: relative;
        }

        .logement-image {
            width: 340px;
            height: 340px;
            border-radius: 0.5rem;
            object-fit: cover;
        }

        .logement-title {
            position: absolute;
            bottom: 0.10rem;
            left: 0;
            padding: 10px;
            margin: 0;
            font-size: 1.125rem;
            color: white;
            background: rgba(0, 0, 0, 0.6);
            width: 100%;
            text-align: left;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            box-sizing: border-box;
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 0;
        padding: 1rem;
        background: white;
            .logement-grid {
                grid-template-columns: repeat(1, 1fr);
                .logement-card {
                    .logement-image {
                        width: 335px;
                        height: 225px;
                    }
                }
            }
    }
}
