.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    .tag {
        background-color: #FF6060;
        color: white;
        padding: 0.25rem 1em;
        border-radius: 0.875rem;
        font-size: 0.875rem;
        font-weight: bold;
        font-family: Montserrat;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    }

    @media (max-width: 767px) {
            .tag {
                font-size: 0.625rem;
            }
    }
}


